<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h2>do edit here</h2>
    <h3>Post id: <%=post.id%></h3>
    <h3>User name: @<%=post.username%></h3>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="10" cols="50" name="content"><%=post.content%></textarea>
        <br><button>submit</button>
    </form>
</body>
</html>